<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vg_Learn::vendor" parent="Magento_Catalog::catalog" title="Vendors" module="Vg_Learn" sortOrder="40" resource="Vg_Learn::vendor"
             action="vglearn/vendor/index"/>
    </menu>
</config>
